[data-page="sub"] {
  header {
    background-color: transparent;
  }

  .subPageTit {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3rem;
    @include isMobile {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  }

  .topBgArea {
    position: absolute;
    top: -10rem;
    left: 50%;
    background: url(../img/sub/topArea_bg.png) center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70.6rem;
    transform: translateX(-50%);
    @include isMobile {
      display: none;
    }
  }

  section.subTopArea {
    position: relative;
    margin: 2rem 0 6rem;
    z-index: 2;
    @include isMobile {
      margin: 0 0 2rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      width: 26rem;
      height: 13rem;
      border-radius: 3rem;
      background-color: #eae0d5;
      @include isMobile {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -3rem;
      right: -3rem;
      width: 45rem;
      height: 13rem;
      border-radius: 3rem;
      background-color: #e9dada;
      @include isMobile {
        display: none;
      }
    }
    &[data-banner="intro"] {
      .wrapper {
        background-image: url(../img/sub/topArea_01.png);
      }
    }
    &[data-banner="business"] {
      .wrapper {
        background-image: url(../img/sub/topArea_02.png);
      }
    }
    &[data-banner="notice"] {
      .wrapper {
        background-image: url(../img/sub/topArea_03.png);
      }
    }
    &[data-banner="data"] {
      .wrapper {
        background-image: url(../img/sub/topArea_04.png);
      }
    }
    &[data-banner="customer"] {
      .wrapper {
        background-image: url(../img/sub/topArea_05.png);
      }
    }
    .wrapper {
      @include flexArea($justify: space-between);
      position: relative;
      height: 30rem;
      border-radius: 3rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
      z-index: 1;
      @include isMobile {
        height: 12rem;
        justify-content: center;
        border-radius: 0;
        margin: 0 -2rem;
      }
      > .left {
        margin-left: 7rem;
        color: $co-white;
        @include isMobile {
          margin-left: 0;
        }
        .tit {
          font-size: 5.6rem;
          font-weight: 700;
          margin-top: 7rem;
          line-height: 1;
          text-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.56);
          @include isMobile {
            font-size: 3.6rem;
            margin-top: 0;
          }
        }
        .depth {
          @include flexArea($gap: 2rem, $justify: flex-start);
          margin-top: 3rem;
          @include isMobile {
            display: none;
          }
          .home {
            @include flexArea;
            width: 2.6rem;
            height: 2.6rem;
            background-color: $co-white;
            border-radius: 50%;
            i {
              display: block;
              width: 1.2rem;
              height: 1.2rem;
            }
          }
          > img {
            width: 0.7rem;
          }
          .formSelect {
            .select {
              font-size: 1.8rem;
              background: url(../img/icon/depth_selectArrow.png) no-repeat center right;
              background-size: 2rem;
              padding: 1rem 3rem 1rem 0;
              border: none;
              color: $co-white;
            }
            .option {
              border: none;
              background-color: rgba(15, 25, 52, 0.8);
            }
          }
        }
      }
      > .right {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1.6rem 4rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: $co-white;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10rem 0 5.5rem 0;
        @include isMobile {
          display: none;
        }
        .breadcrumb {
          @include flexArea($gap: 2rem);
          i {
            display: block;
            width: 0.6rem;
            height: 1.2rem;
            background: url(../img/icon/breadcrumb_arrow.png) no-repeat center / cover;
          }
          strong {
            color: $co-yellow;
          }
        }
      }
    }
  }

  section.subContent {
    position: relative;
    .ceoCont {
      position: relative;
      @include isMobile {
      }
      > * {
        position: relative;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 70rem;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        background: url(../img/sub/intro_01.png) no-repeat top center / cover;
        z-index: 1;
        @include isMobile {
          display: none;
        }
      }
      > .desc {
        padding-top: 2rem;
        padding-left: 2rem;
        font-size: 3rem;
        line-height: 1;
        color: $co-primary;
        @include isMobile {
          padding: 2rem 0 0;
          font-size: 2rem;
        }
      }
      > .tit {
        margin-top: 2rem;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1;
        @include isMobile {
          margin-top: 0.5rem;
          font-size: 3rem;
          word-break: keep-all;
          line-height: 1.4;
        }
      }
      > .cont {
        position: relative;
        margin-top: 6rem;
        padding: 6rem 2rem 17rem;
        background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
        @include isMobile {
          margin: 5rem -2rem 0;
          padding: 28rem 2rem 3rem;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: -100%;
          background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
          @include isMobile {
            display: none;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: -100%;
          background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
          @include isMobile {
            display: none;
          }
        }
        .left {
          .top {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 4rem;
            @include isMobile {
              font-size: 1.6rem;
              @include isMobile {
                margin-bottom: 2rem;
              }
            }
            p {
              @include isMobile {
                br {
                  display: none;
                }
              }
              + p {
                margin-top: 0.5rem;
              }
            }
          }
          .center {
            font-size: 1.4rem;
            color: #555;
            margin-bottom: 4rem;
            @include isMobile {
              font-size: 1.3rem;
              @include isMobile {
                margin-bottom: 2rem;
              }
            }
            p {
              @include isMobile {
                br {
                  display: none;
                }
              }
              + p {
                margin-top: 1rem;
                @include isMobile {
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
        .right {
          position: absolute;
          width: 43.8rem;
          height: 50.5rem;
          border-radius: 10rem 2rem 10rem 2rem;
          border: 1px solid #ccc1b0;
          background-color: $co-white;
          overflow: hidden;
          right: 0;
          top: -9rem;
          box-shadow: 0.8rem 0.8rem 3rem rgba(0, 0, 0, 0.2);
          z-index: 1;
          @include isMobile {
            width: 25rem;
            height: 30rem;
            right: none;
            top: -4rem;
            left: 50%;
            border-radius: 5rem 1rem 5rem 1rem;
            transform: translateX(-50%);
          }
          img {
            position: absolute;
            right: 0;
            bottom: 0;
          }
          p {
            position: absolute;
            font-size: 1.8rem;
            width: 34rem;
            right: 0;
            bottom: 0;
            padding: 3rem 5rem;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 3rem 0 0 0;
            color: $co-white;
            @include isMobile {
              width: 100%;
              font-size: 1.6rem;
              padding: 1.5rem 2rem;
              border-radius: 0;
              text-align: center;
            }
            strong {
              font-size: 2.4rem;
              font-weight: 500;
              @include isMobile {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }

    .topMsgBox {
      @include flexArea($justify: flex-start);
      position: relative;
      margin-top: 6rem;
      min-height: 15.6rem;
      @include isMobile {
        margin-top: 3rem;
        min-height: 10rem;
      }
      .imgArea {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 18rem;
        height: 15.6rem;
        @include isMobile {
          width: 10rem;
          height: 10rem;
        }
      }
      .textArea {
        .tit {
          padding-left: 23.6rem;
          @include isMobile {
            padding-left: 12rem;
          }
        }
        .desc {
          padding-left: 23.6rem;
          @include isMobile {
            padding-left: 12rem;
          }
        }
      }
      .shareArea {
        @include flexArea($gap: 1rem);
        position: absolute;
        right: 0;
        top: 0;
        background-color: $co-white;
        border-radius: 10rem;
        box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.2);
        padding: 1rem;
        @include isMobile {
          gap: 0.5rem;
          padding: 0.5rem;
          top: -2rem;
          box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
        }
        button {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          @include isMobile {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }

    .topTxtBox {
      margin-bottom: 3rem;
      padding: 3rem 3rem 3rem 5rem;
      background: #f8f4f0;
      border: 1px solid #d4cfca;
      border-radius: 2rem;
      box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.15);
      &.type2 {
        padding: 0 0 0 2rem;
        border: none;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        @include isMobile {
          padding: 0 0 0 1.2rem;
        }
      }
      @include isMobile {
        margin-bottom: 1rem;
        padding: 2rem 2rem 2rem 3.2rem;
        border-radius: 1.2rem;
      }
      > .tit {
        position: relative;
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
        line-height: 1.2;
        @include isMobile {
          font-size: 1.6rem;
          margin-bottom: 1.2rem;
        }
        &::before {
          content: "";
          position: absolute;
          width: 1.4rem;
          height: 1.4rem;
          top: 0.5rem;
          left: -2rem;
          background: #fff2e1;
          border: 0.3rem solid $co-primary;
          border-radius: 50%;
          @include isMobile {
            width: 0.8rem;
            height: 0.8rem;
            border-width: 0.2rem;
            left: -1.2rem;
            top: 0.6rem;
          }
        }
      }
      .desc {
        color: $co-secondary;
      }
    }

    .faqSelect {
      padding: 0.2rem;
      border-radius: 2rem;
      background: #f4eee7;
      border: 1px solid #beaf9e;
      @include isMobile {
        border-radius: 1rem;
      }
      > ul {
        @include flexArea($gap: 0.2rem);
        width: 100%;
        flex-wrap: wrap;
        > li {
          width: calc(14% + 0.2rem);
          @include isMobile {
            width: calc(50% - 1px);
          }
          &:first-child {
            button {
              border-radius: 1.6rem 0.4rem 0.4rem 0.4rem;
            }
          }
          &:nth-child(7n) {
            button {
              border-radius: 0.4rem 1.6rem 0.4rem 0.4rem;
            }
          }
          &:nth-child(8n) {
            button {
              border-radius: 0 0.4rem 0.4rem 1.6rem;
            }
          }
          &:nth-child(14n) {
            button {
              border-radius: 0.4rem 0 1.6rem 0.4rem;
            }
          }
          @include isMobile {
            &:first-child {
              button {
                border-radius: 0.8rem 0.4rem 0.4rem 0.4rem;
              }
            }
            &:nth-child(2) {
              button {
                border-radius: 0.4rem 0.8rem 0.4rem 0.4rem;
              }
            }
            &:nth-child(7n),
            &:nth-child(8n) {
              button {
                border-radius: 0.4rem;
              }
            }
            &:nth-child(13) {
              button {
                border-radius: 0.4rem 0.4rem 0.4rem 0.8rem;
              }
            }
            &:nth-child(14) {
              button {
                border-radius: 0.4rem 0.4rem 0.8rem 0.4rem;
              }
            }
          }
          button {
            font-size: 1.8rem;
            color: #777;
            width: 100%;
            height: 5.2rem;
            background: $co-white;
            border: 1px solid #d8cec3;
            border-radius: 0.4rem;
            @include trans;
            @include isMobile {
              height: 4.5rem;
              font-size: 1.5rem;
            }
            &.isActive {
              color: $co-white;
              font-weight: 600;
              background: linear-gradient(45deg, #9d856a, #bd8f4e);
            }
          }
        }
      }
    }

    .subBgArea {
      position: relative;
      padding: 3rem 0;
      background: #f5f2ef;
      @include isMobile {
        margin: 1.5rem -2rem 0;
        padding: 1.5rem 2rem;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background: #f5f2ef;
        @include isMobile {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background: #f5f2ef;
        @include isMobile {
          display: none;
        }
      }
      &.type2 {
        background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
        &::before {
          background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
        }
        &::after {
          background: linear-gradient(0deg, #fff, #fff, #fff, #fff, #f8f6f4, #e1d9ce);
        }
      }
      .wrapper {
        position: relative;
        max-width: $maxWidth;
        z-index: 1;
      }
    }

    .bizCont01 {
      margin-top: 6rem;
      padding: 6rem 0;
      @include isMobile {
        margin: 3rem -2rem 0;
        padding: 3rem 2rem;
      }
      .wrapper {
        max-width: $maxWidth;
        .mo {
          display: none;
        }
        @include isMobile {
          .pc {
            display: none;
          }
          .mo {
            display: block;
          }
        }
      }
    }

    .pageInfo {
      @include flexArea;
      .wrapper {
        @include flexArea($gap: 3rem);
        display: inline-flex;
        width: auto;
        padding: 1.2rem 2.4rem 1.2rem 1.2rem;
        margin: 6rem auto 0;
        background-color: $co-white;
        border-radius: 10rem;
        border: 1px solid #ccc;
        box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.15);
        @include isMobile {
          width: 100%;
          margin: 3rem auto 0;
          flex-direction: column;
          border-radius: 0.8rem;
        }
        .inquiry {
          @include flexArea($gap: 0.6rem);
          dt {
            color: $co-white;
            font-size: 1.4rem;
            font-weight: 700;
            padding: 0.5rem 1rem;
            background-color: $co-secondary;
            border-radius: 10rem;
            @include isMobile {
              font-size: 1.1rem;
              padding: 0.25rem 1rem;
            }
          }
          dd {
            font-weight: 600;
            color: $co-primary;
          }
        }
        .tel,
        .email {
          @include flexArea($gap: 0.6rem);
          dt {
            @include flexArea;
            img {
              height: 1.8rem;
            }
          }
          dd {
            font-weight: 600;
          }
        }
      }
    }

    .boxList {
      .wrapper {
        > ul {
          @include flexArea($gap: 1.6rem, $direction: column);
          @include isMobile {
            gap: 2.4rem;
          }
          > li {
            position: relative;
            a {
              display: block;
              padding: 4rem;
              border-radius: 2rem;
              border: 1px solid #ccc;
              background: $co-white;
              box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.2);
              @include trans;
              @include isMobile {
                padding: 2rem;
                border-radius: 1.6rem;
                box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
              }
              &:hover {
                border-color: $co-primary;
                box-shadow: 0 0.6rem 4.6rem rgba(0, 0, 0, 0.2);
                > .tit {
                  text-decoration: underline;
                  text-underline-offset: 0.5rem;
                }
              }
              > .tit {
                font-size: 2.4rem;
                font-weight: 500;
                margin-bottom: 1.6rem;
                padding-right: 6rem;
                line-height: 1.2;
                @include isMobile {
                  font-size: 2.2rem;
                  margin-bottom: 1.2rem;
                  padding-right: 4rem;
                }
              }
              > .info {
                @include flexArea($gap: 1.6rem, $justify: flex-start);
                padding-right: 6rem;
                @include isMobile {
                  gap: 0.8rem;
                  padding-right: 4rem;
                }
                .part {
                  @include flexArea;
                  color: $co-secondary;
                  font-weight: 500;
                  padding: 0 1.6rem;
                  height: 2.8rem;
                  background: #efeae5;
                  border-radius: 10rem;
                  @include isMobile {
                    padding: 0 1.2rem;
                  }
                }
                .attatch {
                  @include flexArea($gap: 0.4rem);
                  img {
                    width: 1.5rem;
                  }
                  strong {
                    font-weight: 400;
                  }
                  &.isActive {
                    span {
                      font-weight: 500;
                      color: $co-red;
                    }
                  }
                }
                .icon {
                  position: absolute;
                  top: 4rem;
                  right: 4rem;
                  width: 6rem;
                  height: 6rem;
                  @include isMobile {
                    top: 2rem;
                    right: 2rem;
                    width: 3rem;
                    height: 2rem;
                  }
                }
              }
              > .desc {
                font-size: 1.4rem;
                margin-top: 2.6rem;
                padding-top: 2.6rem;
                border-top: 1px solid #ddd;
                color: #555;
                @include ellMulti($line: 4, $height: auto);
                @include isMobile {
                  margin-top: 1.6rem;
                  padding-top: 1.6rem;
                }
              }
            }
          }
          &[data-type="4"] {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 2rem;
            > li {
              width: calc(25% - 1.5rem);
              @include isMobile {
                width: 100%;
              }
              > a {
                padding: 3rem;
                @include isMobile {
                  padding: 2rem;
                }
                .imgArea {
                  height: 18.4rem;
                  margin-bottom: 2.4rem;
                  border-radius: 1.8rem;
                  overflow: hidden;
                  @include isMobile {
                    height: auto;
                    border-radius: 1.6rem;
                  }
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                > .tit {
                  @include ellMulti($line: 2, $height: 5.5rem);
                  font-size: 1.8rem;
                  height: 5.5rem;
                  @include isMobile {
                    font-size: 2.2rem;
                    height: 6.5rem;
                    max-height: 6.5rem;
                  }
                }
                > .info {
                  gap: 3rem;
                  > * {
                    position: relative;
                    color: $co-secondary;
                    + * {
                      &::before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 1.2rem;
                        background: #aaa;
                        left: -1.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                      }
                    }
                  }
                  .part {
                    background: transparent;
                    padding: 0;
                  }
                }
              }
            }
          }
        }

        .accCont {
          @include flexArea($direction: column, $gap: 2rem);
          @include isMobile {
            gap: 1rem;
          }
          li {
            width: 100%;
            padding: 4rem;
            background: $co-white;
            border: 1px solid #ccc;
            border-radius: 3rem;
            box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.2);
            @include isMobile {
              padding: 2rem;
              border-radius: 1.6rem;
            }
            .badge {
              @include flexArea($justify: flex-start, $gap: 3.1rem);
              width: 100%;
              margin-bottom: 2rem;
              * {
                position: relative;
                + * {
                  &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 1.2rem;
                    left: -1.5rem;
                    top: 50%;
                    background: #ccc;
                    transform: translateY(-50%);
                  }
                }
              }
              strong {
                font-weight: 600;
                color: #ff6600;
              }
            }
            details {
              &[open] {
                summary {
                  > .tit {
                    &::after {
                      transform: rotate(0deg);
                      opacity: 1;
                    }
                  }
                }
              }
              summary {
                list-style: none;
                cursor: pointer;
                &::-webkit-details-marker {
                  display: none;
                }
                &::marker {
                  display: none;
                }
                > .tit {
                  position: relative;
                  padding: 0 5rem 0 7rem;
                  @include isMobile {
                    padding: 0 2rem 0 3.5rem;
                  }
                  &::before {
                    content: "Q";
                    @include flexArea;
                    position: absolute;
                    color: $co-white;
                    background: $co-secondary;
                    font-size: 2.6rem;
                    font-weight: 500;
                    width: 6rem;
                    height: 4rem;
                    left: 0;
                    top: -0.8rem;
                    border-radius: 0 2rem 2rem 2rem;
                    @include isMobile {
                      font-size: 1.6rem;
                      width: 3rem;
                      height: 2rem;
                      top: 0;
                    }
                  }
                  &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 3.2rem;
                    height: 1.6rem;
                    background: url(../img/icon/acc_arrow.png) no-repeat center / cover;
                    transform: rotate(180deg);
                    transform-origin: center center;
                    opacity: 0.4;
                    @include trans;
                    @include isMobile {
                      width: 1.6rem;
                      height: 1rem;
                      top: 0.6rem;
                    }
                  }
                }
              }
              > .desc {
                position: relative;
                font-size: 1.4rem;
                color: #555;
                margin-top: 2.8rem;
                padding: 2rem 2rem 2rem 6rem;
                background: #efefef;
                border-radius: 2.6rem;
                white-space: pre-line;
                @include isMobile {
                  margin-top: 1.2rem;
                  padding: 1rem 1rem 1rem 4rem;
                  border-radius: 1.6rem;
                }
                &::before {
                  content: "A";
                  @include flexArea;
                  position: absolute;
                  top: 2rem;
                  left: 2rem;
                  width: 3rem;
                  height: 3rem;
                  font-size: 2rem;
                  color: #ff8700;
                  background: $co-white;
                  border-radius: 50%;
                  @include isMobile {
                    top: 1rem;
                    left: 1rem;
                    width: 2rem;
                    height: 2rem;
                    font-size: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  aside.schCont {
    @include flexArea($justify: space-between);
    padding: 3rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    @include isMobile {
      gap: 1rem;
      flex-direction: column;
      padding: 1.5rem 0 0;
    }
    &.type2 {
      border-top: none;
    }
    > .left {
      @include flexArea;
      height: 4rem;
      padding: 0 2rem;
      background: #f9f9f9;
      border: 1px solid #c7bfb5;
      border-radius: 10rem;
      @include isMobile {
        width: 100%;
      }
      ul {
        @include flexArea($gap: 3.1rem);
        @include isMobile {
          width: 100%;
        }
        li {
          @include flexArea($gap: 0.8rem);
          @include isMobile {
            flex: 1;
          }
          font-weight: 500;
          &.total {
            img {
              width: 0.8rem;
            }
            span {
              strong {
              }
            }
          }
          &.page {
            position: relative;
            gap: 0;
            &::before {
              content: "";
              position: absolute;
              left: -1.5rem;
              top: 50%;
              width: 1px;
              height: 1.6rem;
              background-color: #ccc;
              transform: translateY(-50%);
            }
            strong {
              color: $co-secondary;
            }
          }
        }
      }
    }
    > .right {
      @include isMobile {
        width: 100%;
      }
      .schForm {
        @include flexArea($gap: 0.8rem);
        @include isMobile {
          width: 100%;
          gap: 0.8rem;
          flex-direction: column;
        }
        > * {
          width: 100%;
        }
        > .formSelect {
          .select,
          .option {
            width: 100% !important;
          }
        }
        .formArea {
          @include flexArea($gap: 0.8rem);
          @include isMobile {
            gap: 0.8rem;
            width: 100%;
          }
          .formSelect {
            width: 13rem;
            .select {
              width: 100% !important;
            }
          }
          .formText {
            width: 32rem;
            @include isMobile {
              width: auto;
              flex: 1;
            }
          }
        }
        > button {
          gap: 1.6rem;
          height: 4rem;
          font-weight: 600;
          color: $co-white;
          padding: 0 1.6rem;
          border-radius: 0.8rem;
          background: linear-gradient(45deg, #71542f, #483113);
          @include isMobile {
            width: 100%;
            justify-content: space-between;
            height: 5rem;
            font-size: 2.2rem;
          }
          img {
            width: 1.6rem;
            height: 1.6rem;
            @include isMobile {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }

  aside.paginInfinite {
    @include flexArea;
    margin-top: 3rem;
    @include isMobile {
      margin-top: 2rem;
    }
    button {
      gap: 1.8rem;
      height: 4.6rem;
      padding: 0 2.2rem;
      font-size: 1.8rem;
      border-radius: 10rem;
      background: #f6ece3;
      border: 1px solid #d1c1b2;
      @include isMobile {
        gap: 1.2rem;
        height: 4rem;
        padding: 0 1.6rem;
      }
      img {
        width: 1.6rem;
        @include isMobile {
          width: 1.2rem;
        }
      }
    }
  }

  aside.pagin {
    @include flexArea($gap: 0.6rem);
    margin-top: 3rem;
    @include isMobile {
      flex-wrap: wrap;
      marign-top: 2rem;
    }
    > button {
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      color: #555;
      background: #eee;
      border-radius: 50%;
      @include trans;
      @include isMobile {
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;
      }
      &:hover {
        background-color: #ccc;
      }
      &.prev {
        background: none;
        margin-right: 1rem;
        img {
          width: 2.2rem;
        }
      }
      &.next {
        background: none;
        margin-left: 1rem;
        img {
          width: 2.2rem;
        }
      }
      &.isActive {
        background-color: #333;
        color: $co-white;
      }
    }
  }
}
